# コラボフロー（検証環境）
COLLABOFLOW_BASE_URL=
COLLABOFLOW_API_TOKEN=

# コラボフォーム（検証環境）
COLLABOFORM_BASE_URL=
COLLABOFORM_LOGIN_ID=
COLLABOFORM_LOGIN_PASSWORD=

# kintone（検証環境）
KINTONE_BASE_URL=
KINTONE_API_TOKEN=
